<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.divyanshukotlinmvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".view.Ui.RecyclerDrawer"></activity>
        <activity
            android:name=".view.Ui.MainDashBoard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Ui.TabActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.Ui.FragmentActivity" />
        <activity android:name=".view.Ui.FakeUsersActivity" />
        <activity android:name=".view.Ui.UserSelectionActivity" />
        <activity android:name=".view.Ui.HomeActivity"></activity>
        <activity android:name=".view.Ui.CountryListActivity" />
        <activity
            android:name=".view.Ui.Dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.Ui.Login" />
        <activity android:name=".view.Ui.MainActivity" />
    </application>

</manifest>